<!DOCTYPE html>
<html>
    <head>
        <title> SWARAKSHA SAHAYAK </title>
       
        
	<meta charset="utf-8">
	<meta name="viewport" content="width=service-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    <link rel="icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/slideanim.css">
    </head>
    
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        
    <!--navigation bar -->
    
        <nav class="navbar navbar-default navbar-fixed-top">
  	        <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
         
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
               
                </div>
            </div>
        </nav> 