<!doctype html>
<html lang="en">
  <head>
    <title>Swaraksha Sahayak &mdash;</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style-2.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/" class="h2 mb-0"><font size =2.7>SWARAKSHA SAHAYAK</font><span class="text-primary"></span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="/#home-section" class="nav-link">Home</a></li>
              <li><a href="/#about-section" class="nav-link">About Us</a></li>
              <li class="has-children">
                <a href="#features-section" class="nav-link">Features</a>
                <ul class="dropdown">
                  <li><a href="/chat/home" class="nav-link">Chat</a></li>
                  <li><a href="/forum" class="nav-link">Forum</a></li>
                  <li><a href="/doctors" class="nav-link">Doctor Reviews</a></li>
                  <li><a href="/workplaces" class="nav-link">Job Reviews</a></li>
                  <li><a href="/travel" class="nav-link">Safe Travel</a></li>
               
                </ul>
              </li>
              <li><a href="/blog" class="nav-link">Blog</a></li>
              <li><a href="/login" class="nav-link">Login</a></li>
            </ul>
          </nav>
        </div>




          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url(images/blogpic.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          
              <div class="col-md-6 mt-lg-5 text-center">
                <h1>Welcome to our resource section! </h1>
                
              </div>
            
        </div>
      </div>
    </div>  

    
    
    <section class="site-section">
    
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content">
        <!-- <div class="row mb-5">
          <div class="col-lg-6">
            <figure><img src="images/img_3.jpg" alt="Image" class="img-fluid">
              <figcaption>This is an image caption</figcaption></figure>
          </div>
          <div class="col-lg-6">
            <figure><img src="images/img_4.jpg" alt="Image" class="img-fluid">
              <figcaption>This is an image caption</figcaption></figure>
          </div>
        </div> -->
        <h1> The wage gap is real - gender sensitive workplaces</h1>
        <p class="lead">Gender Wage Gap is defined as the difference between the median earnings of men and women. It matters! -
          According to the Gender Gap Index in 2020, India has slipped to the 112th position from the previous 108th in 2018</p>

        
      <p>  Wage inequality remains a serious challenge not just globally, but also to India's path to achieving decent working conditions and inclusive growth, states the India Wage Report prepared by the ILO in 2018.4 The IBA Global Employment Institute's Eighth Annual Global Report, which provides national regulatory trends in human resources law, states that gender-related developments in discrimination laws and practices are most prevalent.

Although overall wage inequality has narrowed through the years, gender pay gap is still high based on international standards. Based on news reports, gender pay gap has percolated into almost all sectors including technology, outsourcing, manufacturing, healthcare, caring services and social work.5

As per ILO's flagship Global Wage Report 2018/196, which is published every two years,  women continue to be paid approximately 20 per cent less than men. Gender pay gap has spread its wrath through the world with certain variations between the Republic of Korea, with a high 32 per cent of gender pay gap,  compared to Belgium, where it is  just 3 per cent. The report also states that the wage inequality is higher in low-income countries like Namibia as opposed to high-income countries like Sweden.

India ranks 108 in World Economic Forum's (WEF) gender gap index in 2018, which is the same rank it held in 2017.7 Apart from the gender pay gap, India is also facing a huge pay disparity among the categories of organised and unorganised sectors, rural and urban areas and regular and casual workers.

As per the Employment and Unemployment Survey conducted by the National Sample Survey Office (NSSO), average daily wages have almost doubled between 1993-94 and 2011-12, increasing more rapidly in rural areas than in urban areas and for casual workers than regular workers.8 The significant increase of wages in the rural areas can be attributed to the introduction of welfare policies by the government, such as the Mahatma Gandhi National Rural Employment Guarantee Act, 2005 (MGNREGA), while wage policies for the urban population remains the same. As per the WEF report on wage equality for similar work indicator, India has improved its rank to 72nd.!</p>
        <div class="pt-5">
          <p>Categories:  <a href="#">Workplace</a>, <a href="#">Finance</a>  Tags: <a href="#">#work</a>, <a href="#">#wageGap</a></p>
        </div>


        
</div> <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
            <h1>Understanding PCOS - why a taboo?</h1>
            <p class="lead">Gender Wage Gap is defined as the difference between the median earnings of men and women. It matters! -
              According to the Gender Gap Index in 2020, India has slipped to the 112th position from the previous 108th in 2018</p>
                <p>An increasing number of women in the reproductive age are suffering from a hormonal disorder called Polycystic Ovarian Syndrome (PCOS). Gynaecologists say more awareness is needed about the condition, that prolongs for a lifetime and can be simply controlled by a proper diet and lifestyle.

                  An estimated one in five (20%) Indian women suffer from PCOS. If not monitored in time, the condition can have serious health impacts. Gynaecologist Dr. Duru Shah who is also the founder of the PCOS Society of India said PCOS is not a disease, but a condition that can present itself in different ways. “While younger women may suffer from irregular periods, experience hirsutism (unwanted male-pattern hair growth) and obesity, in the slightly older age group, it may lead to infertility, risk of miscarriages and more. Conceiving a baby can be difficult with PCOS,” said Dr. Shah, adding that there is nearly a 40% chance that a female child may develop PCOS if the mother has it.
                  
                  Women with PCOS are at a high risk of developing diabetes, high blood pressure, and other health complications. “The more peripheral fat one has, more is the hormonal imbalance,” Dr. Anita Soni, a gynaecologist in Powai’s Hiranandani Hospital, said. She said an ideal Body Mass Index (BMI) is 25 but when one is obese, the BMI goes over 27-28 and this becomes alarming. “PCOS is a lifelong health condition but one can control it with proper diet and ideal body weight”, Dr. Soni said, emphasing on a diet with low carbohydrates, high protein, and daily physical exercise.
                  
                  Experts say most women ignore the common symptoms of PCOS and turn to a doctor only when they face trouble conceiving. According to Dr. Anjali Talwalkar, who has a clinic in Kurla, the incidence of the condition has been increasing every year, yet many women don’t think that it may be PCOS even when they notice symptoms. “They simply attribute it to lifestyle. PCOS does arise out of poor lifestyle habits but it has adverse effects and should be treated. Since it is not life-threatening, people don’t care enough about it,” she said.</p>
          
                 <div class="pt-5">
              <p>Categories:  <a href="#">Health</a>, <a href="#">Taboo</a>  Tags: <a href="#">#PCOS</a>, <a href="#">#menstruation</a></p>
            </div>


            
  </div>
  
<div class="postcard"><div class="postcard-content"><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>This list of women-centric websites, blogs, and resources.</p>
<h2>Indian Women Helplines</h2>
<ul><li>Central Social Welfare Board -Police Helpline	1091/ 1291, (011) 23317004</li>
<li>Shakti Shalini	10920</li>
<li>Shakti Shalini - women's shelter	(011) 24373736/ 24373737</li>
<li>SAARTHAK	(011) 26853846/ 26524061</li>
<li> All India Women's Conference	10921/ (011) 23389680</li>
<li>JAGORI	(011) 26692700</li>
<li> Sakshi - violence intervention center	(0124) 2562336/ 5018873</li></ul>

<h2>Anti Violence Organizations</h2><ul><li><a href="http://www.bwss.org/" rel="nofollow">Battered Women's Support Services</a>:&nbsp;An organization working to eliminate the abuse of women, providing education, advocacy and support services for battered women.</li>
<li><a href="http://www.ihollaback.org/" rel="nofollow">Hollaback</a>:&nbsp;A project that aims to end street harassment by exposing it.</li>
<li><a href="http://www.incite-national.org/" rel="nofollow">INCITE</a>:&nbsp;Nation-wide network of radical feminists of color working to end violence against women, gender non-conforming, and trans people of color, and our communities.</li>
<li><a href="http://justicenow.org/" rel="nofollow">Justice Now</a>:&nbsp;An organization that works to stop violence against women, including state-sanctioned violence and incarceration, and promotes alternative responses to interpersonal violence outside of policing and prisons.</li>
<li><a href="http://www.survivedandpunished.org/" rel="nofollow">Survived and Punished</a>:&nbsp;An organization that works to end the criminalization of survivors of domestic and sexual violence.</li>
</ul><h2>Blogs, News, and Online Magazines</h2>
<ul><li><a href="http://www.autostraddle.com/" rel="nofollow">Autostraddle</a>:&nbsp;News, Entertainment, Opinion, Community, and Girl-On-Girl Culture.</li>
<li><a href="http://bitchmagazine.org/" rel="nofollow">Bitch Media</a>:&nbsp;A feminist response to pop culture, run by the company that publishes Bitch Magazine.</li>
<li><a href="http://www.blackgirldangerous.org/" rel="nofollow">Black Girl Dangerous</a>:&nbsp;This blog seeks to amplify the voices and experiences of queer and trans* people of color.</li>
<li><a href="http://thebodyisnotanapology.com/" rel="nofollow">The Body Is Not an Apology</a>:&nbsp;Fosters global, radical, unapologetic self love which translates to radical human love and action in service toward a more just, equitable and compassionate world.</li>
<li><a href="https://crunkfeministcollective.wordpress.com/" rel="nofollow">Crunk Feminist Collective</a>:&nbsp;A blog discussion among the hip hop generation of feminists of color.</li>
<li><a href="http://everydayfeminism.com" rel="nofollow">Everyday Feminism</a>: An intersectional feminist online magazine.</li>
<li><a href="https://feministfrequency.com/" rel="nofollow">Feminist Frequency</a>:&nbsp;A feminist web series about pop culture.</li>
<li><a href="https://twitter.com/feministhulk" rel="nofollow">Feminist Hulk Twitter</a></li>
<li><a href="http://feministing.com/" rel="nofollow">Feministing</a>:&nbsp;An active online community of feminist bloggers.</li>
<li><a href="http://www.forharriet.com/#axzz44yuBRqIr" rel="nofollow">For Harriet</a>:&nbsp;An online community for women of African ancestry.</li>
<li><a href="http://www.guerrillafeminism.org/" rel="nofollow">Guerilla Feminism</a>:&nbsp;Seeks to facilitate feminist street activism and feminist digital activism around the globe.</li>
<li><a href="http://www.illdoctrine.com/" rel="nofollow">Ill Doctrine</a>:&nbsp;A hip hop video blog.</li>
<li><a href="http://imaginingourselves.globalfundforwomen.org/pb/Home.aspx?lang=1" rel="nofollow">Imagining Ourselves</a>:&nbsp;An online, dynamic, multilingual exhibition sponsored by the International Museum of Women exploring the question, "What Defines Your Generation of Women?"</li>
<li><a href="http://racialicious.tumblr.com" rel="nofollow">Racialicious</a>:&nbsp;Race and pop culture blog.</li>
<li><a href="http://angry-hijabi.blogspot.com/" rel="nofollow">Thoughts of an Angry Hijabi</a>:&nbsp;Desi. Anti-Capitalist. Muslim Intersectional feminist blog.</li>
</ul><h2>General Resources</h2>
<ul><li><a href="https://fairygodboss.com/" rel="nofollow">FairyGodBoss</a>: A&nbsp;free resource and community of women who share advice and tips about pay, benefits, and company culture with a focus on gender equality in the workplace.</li>
<li><a href="http://feminist.com/" rel="nofollow">Feminist.com</a>:&nbsp;This site links visitors to activist resources.</li>
<li><a href="http://protest.net/" rel="nofollow">Protest.net</a>:&nbsp;Lists progressive and leftist protests, meetings and conferences worldwide.</li>
<li><a href="http://www.girlsinc.org/" rel="nofollow">Girls Inc.</a>:&nbsp;Advocates for girls’ needs nationally and locally and develops research-based informal education programs.</li>
<li><a href="http://www.hermana.org/" rel="nofollow">MANA</a>:&nbsp;Dedicated to the empowerment of Latinas of all ages.</li>
<li><a href="http://ruckus.org/" rel="nofollow">The Ruckus Society</a>:&nbsp;Dedicated to training and assisting environmental activists in the use of nonviolent civil disobedience.</li>
</ul><h2>Health and Reproductive Justice Organizations and Resources</h2>
<ul><li><a href="http://www.advocatesforyouth.org/index.php" rel="nofollow">Advocates for Youth</a>:&nbsp;Youth centered organization that seeks to uplift access to sexual health information and resources.</li>
<li><a href="http://www.alternet.org/reproductivejustice/" rel="nofollow">Alternate Reproductive Justice</a>:&nbsp;A collection of socially conscious news articles related to reproductive justice.</li>
<li><a href="http://www.autoimmunemom.com/" rel="nofollow">Autoimmune Disease and Pregnancy Guide</a>:&nbsp;A resource with information about the intersection of autoimmune disease and pregnancy.</li>
<li><a href="https://www.guttmacher.org/" rel="nofollow">Guttmacher Institute</a>:&nbsp;The mission of the Guttmacher Institute is to protect the reproductive choices of people of all genders.</li>
<li><a href="http://www.naral.org/?referrer=http://www.naral.org/" rel="nofollow">NARAL Pro-Choice America</a>:&nbsp;Mission is to preserve and improve women’s access to legal abortion, contraceptive choice and quality reproductive care.</li>
<li><a href="http://www.nativeshop.org/" rel="nofollow">Native American Women's Health Resource Center</a>:&nbsp;A compendium of health programs benefiting indigenous people locally, nationally and internationally.</li>
<li><a href="https://www.plannedparenthood.org/" rel="nofollow">Planned Parenthood</a>:&nbsp;Delivers vital reproductive health care, sex education, and information to millions of women and men worldwide.</li>
<li><a href="http://sistersong.net/" rel="nofollow">Sister Song</a>:&nbsp;Women of color reproductive justice collective.</li>
<li><a href="http://www.trustblackwomen.org/" rel="nofollow">Trust Black Women</a>:&nbsp;Supports Black women and girls with implementing reproductive health decisions that are personal, appropriate, accessible, and affordable.</li>
</ul><h2>International and Transnational Organizations</h2>
<ul><li><a href="http://www.awid.org/" rel="nofollow">Association for Women's Rights in Development</a>:&nbsp;An organization committed to gender equality and a just and sustainable development process.</li>
<li><a href="http://www.cwgl.rutgers.edu/" rel="nofollow">Center for Women's Global Leadership</a>:&nbsp;Seeks to develop an understanding of the ways in which gender affects the exercise of power and the conduct of public policy.</li>
<li><a href="https://www.globalfundforwomen.org/" rel="nofollow">Global Fund for Women</a>: Makes grants to seed, support and strengthen women’s rights groups outside the U.S.</li>
<li><a href="https://sigi.org/" rel="nofollow">Sisterhood Is Global Institute</a>:&nbsp;An organization working to empower women in the global South to define and achieve their human rights.</li>
<li><a href="http://wedo.org/" rel="nofollow">Women's Environment and Development Organization</a>:&nbsp;International advocacy network working for justice through the empowerment of women.</li>
<li><a href="http://wilpfus.org/" rel="nofollow">Women's International League for Peace and Freedom</a>:&nbsp;Works to achieve world disarmament, full rights for women, racial and economic justice and an end to all forms of violence.</li>
</ul><h2>Media/Representation Projects</h2>
<ul><li><a href="https://www.adbusters.org/" rel="nofollow">Adbusters</a>:&nbsp;An organization that tries to combat oppressive forms of the media.</li>
<li><a href="http://fair.org/" rel="nofollow">Fairness and Accuracy in Reporting</a>:&nbsp;A media watch group that offers well-documented criticism of media bias and censorship.</li>
<li><a href="http://therepresentationproject.org/" rel="nofollow">The Representation Project</a>:&nbsp;This project looks to film and media content in order to break down gender stereotypes.</li>
<li><a href="http://rookiemag.com/" rel="nofollow">Rookie Mag</a>:&nbsp;This publication by and for teenage girls gives a feminist alternative to traditional teen magazines.</li>
</ul><h2>Professional Organizations</h2>
<ul><li><a href="http://www.aauw.org/" rel="nofollow">American Association of University Women</a>:&nbsp;A national organization that promotes education and equity for all women and girls.</li>
<li><a href="http://www.nwpc.org/" rel="nofollow">National Women's Political Caucus</a><span>:&nbsp;The only multipartisan national grassroots organization dedicated to increasing the number of pro-choice women in elected and appointed offices.</span></li>
<li><a href="http://www.nwsa.org/" rel="nofollow">National Women's Studies Association</a>:&nbsp;Supports and promotes feminist/womanist teaching, learning, research and professional and community service.</li>
</ul><h2>Queer &amp; Trans Organizations</h2>
<ul><li><a href="http://www.thetaskforce.org/" rel="nofollow">National LGBTQ Task Force</a>:&nbsp;A progressive civil rights organization that has supported grassroots organizing and advocacy since 1973.</li>
<li><a href="http://srlp.org/" rel="nofollow">Sylvia Rivera Law Project</a>:&nbsp;Works to guarantee that all people are free to self-determine gender identity and expression, regardless of income or race, and without facing harassment, discrimination or violence.</li>
<li><a href="http://transgenderlawcenter.org/" rel="nofollow">Transgender Law Center</a>:&nbsp;Changes law, policy, and attitudes so that all people can live safely, authentically, and free from discrimination regardless of their gender identity or expression.</li>
</ul></div></div></div></div></div></div>

</div>
</div></div>
</section>

<!-- /.region -->


  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>