<!doctype html>
<html lang="en">

<head>
  <title>Swaraksha Sahayak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/card.css">
  <link rel="stylesheet" href="css/style-2.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <!--<h1 class="mb-0 site-logo"><a href="" class="h2 mb-0"><font size =2.7>SWARAKSHA SAHAYAK</font><span class="text-primary"></span> </a></h1>-->
            <a href = "/#home-section"><img src="images/logo.jpg" alt="Image" width ="120px" height = "60px" class="img-fluid"></a>
          </div>


          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/#home-section" class="nav-link">Home</a></li>
                <li><a href="#about-section" class="nav-link">About Us</a></li>
                <li class="has-children">
                  <a href="#features-section" class="nav-link">Features</a>
                  <ul class="dropdown">
                    <li><a href="/chat/home" class="nav-link">Chat</a></li>
                    <li><a href="/forum" class="nav-link">Forum</a></li>
                    <li><a href="/doctors" class="nav-link">Doctor Review</a></li>
                    <li><a href="/workplaces" class="nav-link">Job Reviews</a></li>

                  </ul>
                </li>
                <li><a href="/blog" class="nav-link">Blog</a></li>
                <li><a href="/" class="nav-link">Contact</a></li>
                <li><a href="/login" class="nav-link">Login</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
              class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>



    <div class="site-blocks-cover overlay" style="background-image: url(images/travel.png);" data-aos="fade"
      id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">


          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up">Welcome</h1>
            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Traveling Safe</p>
            <div data-aos="fade-up" data-aos-delay="100">
              <a href="/chat/home" class="btn smoothscroll btn-primary mr-2 mb-2">Chat with fellow women travellers</a>
              <a href="/forum/r/SafeTravels!" class="btn smoothscroll btn-primary mr-2 mb-2">Forum to discuss safety and
                tips </a>
            </div>
          </div>

        </div>
      </div>

      <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>



    <h1 class="entry-title">Travel Resources</h1>
    </header>
    <div class="entry-content">
      <span id="dpsp-post-sticky-bar-markup" data-mobile-size="720"></span>
      <span id="dpsp-post-content-markup" data-image-pin-it="false"></span>
      <p>Having go-to travel resources you can always rely on is always helpful when you travel a lot. Even though I’m
        more likely to go with the flow, rather than plan heavily when it comes to mapping out my next adventure,
        there’s still all manner of research and preparation that has to be done before and during any trip. Scrolling
        through travel resources, top tips lists and relevant booking websites can essentially be the boring element of
        travel, but you never know what useful information and money-saving tips you might stumble upon.</p>
      <p>Whether it’s securing the best flight deals, planning train and bus journeys or looking into tours that cover
        more the trickier to travel destinations (or where you cannot travel to independently), these travel resources
        are my regular go-to information hubs for planning and booking everything that’s needed for great exploration.
      </p>
      <p>
        <em>This comprehensive list of travel resources, articles and best travel website listings is regularly updated
          to bring you the best on the web for useful travel planning.</em>
      </p>
      <h2 style="text-align: center;">Travel Resources for Women in Small Adventure Group Tours</h2>
      <h3>
        <a class="thirstylink" title="G Adventures" href="https://www.bordersofadventure.com/recommends/g-adventures/"
          target="_blank" rel="nofollow noopener noreferrer">G Adventures – Tours with a Positive Social Impact</a>
      </h3>
      <p>I’ve travelled with G Adventures since 2004 when I first visited Asia, and more recently I used them for my
        Everest Base Camp trek. I love their community ethos, the use of local guides, socially responsible travel
        practices, such as animal, indigenous and child welfare&nbsp;and giving back to community projects and
        charities.</p>
      <p>While I’m rarely on group trips unless it’s necessary, tours are a great option should you be travelling to a
        destination that tricky to navigate or a destination that doesn’t allow independent travel for particular
        nationalities. Or, if you are simply looking for the fellow company to enjoy the experience with.</p>
      <p>I am now one of their brand ambassadors &#8211; a G Adventures &#8216;Wanderer&#8217; – encouraging travellers
        to explore the planet in a meaningful way and to help change people’s lives through travel.</p>
      <p>You can find G Adventures reviews in the following articles on destinations where I took their trips.</p>
      <p>
        <a href="https://www.bordersofadventure.com/travel-to-peru-guide/" rel="noopener">G Adventures Peru review
          &#8211; Responsible travel in Peru and on the Inca Trail</a>
      </p>
      <p>
        <a href="https://www.bordersofadventure.com/ecuador-amazon-rainforest-guide/" rel="noopener">G Adventures
          Ecuador review &#8211; Local Living in the Ecuador Amazon</a>
      </p>
      <p>
        <a href="https://www.bordersofadventure.com/lost-city-trek-colombia-ciudad-perdida/" rel="noopener">G Adventures
          Colombia review &#8211; Lost City Trek and Carribean Coast</a>
      </p>
      <p>
        <a href="https://www.bordersofadventure.com/everest-base-camp-trek/" rel="noopener">G Adventures Nepal review
          &#8211; Everest Base Camp Trek</a>
      </p>
      <p>
        <a href="https://www.bordersofadventure.com/modern-iran-ancient-persia-travel-to-understand/" rel="noopener">G
          Adventures Iran review &#8211; Discover Persia tour</a>
      </p>
      <p>
        <a href="https://www.bordersofadventure.com/best-places-to-visit-in-egypt/" target="_blank"
          rel="noopener noreferrer">G Adventures Egypt review &#8211; Egypt Upgraded trip</a>
      </p>
      <h3>
        <a style="text-align: justify;" href="https://www.dragoman.com/" target="_blank" rel="noopener noreferrer"> For
          women in Overlanding Adventures</a>
      </h3>
      <p>Dragoman is one of the leading overland travel experts, and I travelled around Mongolia for three weeks with
        them. Their huge trucks are like transformers, opening out into lots of compartments which house tables, chairs,
        tents, and other storage – like a mobile home for the more adventurous. I highly recommend them for exploring
        more desolate and vast landscapes that would be hard to traverse solo.</p>
      <h2 style="text-align: center;">Travel Resources for Planning a Travel Trip</h2>
      <h3>
        <a href="https://www.projectvisa.com" target="_blank" rel="noopener noreferrer">Project Visa</a>
      </h3>
      <p>The one essential element of pre-planning before arrival in any destination is to know whether you need to have
        a visa beforehand or whether you can get one on arrival. Project Visa is one of my top three go-to travel
        resources when planning my next trip &#8211; it lists the visa requirements of all countries, and also outlines
        where embassies for that particular country are all over the world, should you need to apply before arrival.</p>
      <h3>
        <a href="https://wikitravel.org/en/Main_Page" target="_blank" rel="noopener noreferrer">Wikitravel</a>
      </h3>
      <p>Fast becoming the new go-to travel resource over the trusty guidebooks, Wikitravel lists everything from
        must-see sites to decent accommodation, concisely and knowledgeably.</p>
      <h3>
        <a href="https://www.tripadvisor.com/" target="_blank" rel="noopener noreferrer">Trip Advisor</a>
      </h3>
      <p>Everyone knows about Trip Advisor, and even though it was once known only as space for those wanting to vent
        their negatives experiences, it has turned itself around to become a comprehensive travel resource, ranking
        properties and attractions and hosting useful forums for discussion.</p>
      <h3>
        <a href="https://www.expedia.co.uk/explore/hand-luggage-size-and-weight-guide" target="_blank"
          rel="noopener noreferrer">Hand Luggage Guide - Women must-haves</a>
      </h3>
      <p>From Emirates to EasyJet, Expedia has pulled together a very handy guide to hand luggage, where you to quickly
        check the exact sizes of the hand luggage and hold weights you’re able to carry on board a flight. I&#8217;ve
        been caught out a few times with my small suitcase, which has been OK in size for one flight carrier, but
        slightly too big for another.</p>
      <p>This travel resource also allows you to determine which airline is the best value for money when it comes to
        the all-important inclusion of luggage allowance.</p>
      <p style="text-align: justify;">
        <span class="pibfi_pinterest ">
          <img class="aligncenter wp-image-9247 size-full"
            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20929%20462'%3E%3C/svg%3E"
            alt="Hand luggage guide, travel resources" width="929" height="462"
            data-lazy-srcset="https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47.png 929w, https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47-300x149.png 300w"
            data-lazy-sizes="(max-width: 929px) 100vw, 929px"
            data-lazy-src="https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47.png" />
          <noscript>
            <img class="aligncenter wp-image-9247 size-full"
              src="https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47.png"
              alt="Hand luggage guide, travel resources" width="929" height="462"
              srcset="https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47.png 929w, https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47-300x149.png 300w"
              sizes="(max-width: 929px) 100vw, 929px" />
          </noscript>
          <span class="xc_pin"
            onclick="pin_this(event, 'http://pinterest.com/pin/create/button/?url=https://www.bordersofadventure.com/travel-resources/&amp;media=https://www.bordersofadventure.com/wp-content/uploads/2012/07/Screen-Shot-2015-07-19-at-17.34.47.png&amp;description=Travel Resources')"></span>
        </span>
      </p>
      <h3>
        <a href="https://overseasattractions.com/" target="_blank" rel="noopener noreferrer">Overseas Attractions - tips
          to travel safe</a>
      </h3>
      <p>This is a quick fix guide and booking service for local attractions in all regions of the world &#8211; a great
        resource should you be short on time for elaborate online searches or without a guidebook.</p>
      <h2 style="text-align: center;">Travel Resources for Detailed Travel Guides</h2>
      <h3>
        <a href="https://www.awin1.com/cread.php?awinmid=1238&amp;awinaffid=208351&amp;clickref=&amp;p=http%3A%2F%2Fshop.lonelyplanet.com%2F"
          target="_blank" rel="noopener noreferrer">Lonely Planet</a>
      </h3>
      <p>
        I&#8217;m a Lonely Planet fan and while I don&#8217;t use them religiously, I do use them for quick reference or
        to show a local when I need some direction. I&#8217;ve tried using PDFs but much prefer the print, especially
        since I use it a lot to call ahead for accommodation or the address and language translations. I buy mine from
        Amazon to score the best deals, but always keep an eye out on the
        <a href="https://www.awin1.com/cread.php?awinmid=1238&amp;awinaffid=208351&amp;clickref=&amp;p=http%3A%2F%2Fshop.lonelyplanet.com%2F"
          target="_blank" rel="nofollow noopener noreferrer">Lonely Planet Publications</a>
        website for sales.
      </p>
      <h3>
        <a href="https://www.pandaguides.com/" target="_blank" rel="noopener noreferrer">Panda Guides for China</a>
      </h3>
      <p>I was informed many times that the most popular print travel resources were not that useful for China travel,
        and I was correct. On the one hand, China is so huge and constantly changing, it is hard to keep up; on the
        other hand, it is essential to have a backup when travelling here with all its frustrations. When I was asked to
        review Panda Guides my first thought was that I wish I had used them during my 10 weeks there. Each in-depth
        guide is written by expats and local writers without being overwhelming, the maps are clearer, and they contain
        useful information such as ‘Side Trips’ from major cities, including info on distance and exact breakdowns of
        how to get there. There are all the top tips you need, alongside detailed pricing and timings, these are handy
        when you will often find yourself unable to get hold of this information easily, quickly and without expert
        miming skills. There are even overviews on topical issues such as air pollution and an extensive list of food
        dishes with Chinese characters included (and to think I walked around with my favourite eggplant dish scribbled
        on a piece of paper!).&nbsp; Highly recommended.</p>
      <h2 style="text-align: center;">Travel Resources for Booking Hostels and Hotels</h2>
      <h3>
        <a href="https://www.airbnb.com/associates/45908?s=67&amp;c=.pi115.pk0_9&amp;a4ptk=9932_0_9_45908&amp;af=115"
          target="_blank" rel="nofollow noopener noreferrer">Airbnb</a>
      </h3>
      <p>
        You can rent local apartments or rent a spare room in over 190 cities across the world, which are all verified.
        It gets you right in the heart of local life and it can, in some big cities, be a
        <a href="https://www.airbnb.com/associates/45908?s=67&amp;c=.pi115.pk0_9&amp;a4ptk=9932_0_9_45908&amp;af=115"
          target="_blank" rel="noopener noreferrer">cost-effective accommodation option</a>
        if staying for more than two nights.
      </p>
      <div>
        <p>
          <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script src="https://www.airbnb.com/embeddable/airbnb_jssdk" async=""></script>
        </p>
        <div class="airbnb-embed-frame" data-view="a4p_search_embeddable" data-id="45910">&nbsp;</div>
      </div>
      <p>.&nbsp;</p>
      <h3>
        <a href="https://www.booking.com/index.html?aid=1628554" target="_blank"
          rel="nofollow noopener noreferrer">Booking.com</a>
      </h3>
      <p>I use this to search for deals on hotels, local guesthouses and hotels in areas where hostels and other
        ultra-cheap accommodation may not be as widespread. You can also browse accommodations according to preferences
        such as being near the main monuments and attractions, the beach or shopping districts, which I think is a nifty
        addition!</p>
      <ul>
        <li>
          <a href="https://www.booking.com/index.html?aid=1628554" target="_blank" rel="noopener noreferrer">Find the
            perfect hotel in your budget&nbsp;→&nbsp;</a>
        </li>
        <li>
          <a href="https://www.booking.com/apartments/index.html?aid=1628554" target="_blank"
            rel="noopener noreferrer">Find apartments →</a>
        </li>
        <li>
          <a href="https://www.booking.com/resorts/index.html?aid=1628554" target="_blank"
            rel="noopener noreferrer">Search for resorts →</a>
        </li>
        <li>
          <a href="https://www.booking.com/villas/index.html?aid=1628554" target="_blank" rel="noopener noreferrer">Book
            a villa →</a>
        </li>
        <li>
          <a href="https://www.booking.com/bed-and-breakfast/index.html?aid=1628554" target="_blank"
            rel="noopener noreferrer">Find local B&amp;Bs →</a>
        </li>
        <li>
          <a href="https://www.booking.com/guest-house/index.html?aid=1628554" target="_blank"
            rel="noopener noreferrer">Search for guest houses →</a>
        </li>
      </ul>
      <h3>
        <a href="https://prf.hn/click/camref:1101lIEA" target="_blank" rel="noopener noreferrer">HostelWorld</a>
      </h3>
      <p>This website has always been my&nbsp;quick-fix travel resource for all hostel bookings. Although under the same
        umbrella company as Hostelbookers, I still look on both websites despite most of the properties being the same –
        because room allocation to each varies, what you may find is booked up on one may not be on the other.</p>
      <h3>
        <a href="https://www.yha.org.uk/" target="_blank" rel="noopener noreferrer">YHA Hostels</a>
      </h3>
      <p>YHA has for a long time carried with it the reputation of ‘traditional youth hostel’ while the majority of
        others market an independent niche, theme or boutique style. However, with a £25million investment, the face of
        YHA hostels across England and Wales is changing with creative makeovers to its range of buildings, castles,
        mansions and campsites.</p>
      <p>
        I last stayed in the
        <a href="https://www.yha.org.uk/hostel/london-st-pancras" target="_blank" rel="noopener noreferrer">YHA London
          St Pancras</a>
        &nbsp;and was pleasantly surprised. I got a private room right in the heart of London before an early flight
        &#8211; a cheaper and more sociable option than an airport hotel. Lounge spaces are funky, the atmosphere is now
        more inviting and the food is cheap and plentiful. The bedrooms are still rocking that ‘school trip’ hostel
        look, and I hope in time that changes, but as a hostel chain emerging from years-old bland reputation, I highly
        recommend giving YHA a chance. I’m certainly more curious to see how more YHA offerings are across the country
        now.
      </p>
      <h3>
        <a href="https://www.booking.com/" target="_blank" rel="noopener noreferrer">Couchsurfing</a>
      </h3>
      <p>I have yet to stay with a local using Couchsurfing but it is a great travel resource for meeting people in new
        cities, since events and meetups are regularly listed, alongside general forums should you need any assistance.
        It’s worth having an account set up just for these things alone.</p>
      <h2 style="text-align: center;">Travel Resources for Working In Exchange for Free Accommodation</h2>
      <h3>
        <a href="https://wwoofinternational.org/" target="_blank" rel="noopener noreferrer">WWOOF’ing International</a>
      </h3>
      <p>This site links volunteers to organic farms and smallholdings where you can learn about ‘organic lifestyles’ in
        exchange for free food and accommodation. Each continent has its dedicated WWOOF (Willing Workers on Organic
        Farms) site that you need to sign up to, and lists an overview of the average minimum hours and how many
        opportunities are available.</p>
      <h3>
        <a href="https://www.helpx.net/" target="_blank" rel="noopener noreferrer">Help Exchange</a>
      </h3>
      <p>Help Exchange is volunteer work in&nbsp;exchange&nbsp;for free accommodation and food on farms, backpacker
        hostels, lodges, horse stables and even sailing boats. It’s free to join and all you have to do is fill out a
        few simple infoboxes before searching for relevant job posts all over the world.</p>
      <h2 style="text-align: center;">Travel Resources for Finding Cheap Flights</h2>
      <h3>
        <a href="https://www.tkqlhce.com/click-7576580-10641620" target="_blank"
          rel="nofollow noopener noreferrer">Skyscanner</a>
      </h3>
      <p>I always go to Skyscanner as default, mainly because the comparison tool for prices and timings is easy to use,
        and since I’ve always found great deals through them. The iPhone app is just as handy too.</p>
      <h3>
        <a href="https://www.momondo.co.uk/" target="_blank" rel="noopener noreferrer">Momondo</a>
      </h3>
      <p>This site compares over 700 flight sites for the best deals, and I use it alongside Skyscanner to check for the
        best prices. It also has a great blog resource for extra inspiration.</p>
      <h3>
        <a href="https://www.whichbudget.com/tr/" target="_blank" rel="noopener noreferrer">WhichBudget</a>
      </h3>
      <p>I recently met the guy who runs this flight comparison website, which has been around for many years and was
        one of the first of its kind. After spending some time on the site I managed to find some similar flights deals
        to my other two go-to resources, with only small differences. Every bit of saving helps!</p>
      <h3>
        <a href="https://www.opodo.co.uk/" target="_blank" rel="noopener noreferrer">Opodo</a>
      </h3>
      <p>
        Opodo is another popular and well-established search engine for flights and is one of the multiple platforms I
        use to cross-reference deals&nbsp;before making a final decision. I&#8217;ve always heard about money-saving
        hacks for flights when booking on specific days of the week and months of the year and
        <a href="https://www.opodo.co.uk/best-time-to-book-flights/" target="_blank" rel="noopener noreferrer">Opodo has
          now released a flight purchasing overview</a>
        &nbsp;(alongside the quick-reference guide below which I found).
      </p>
      <p>It turns out booking a flight on Saturday can make you save you around 4%!</p>
      <p style="text-align: justify;">
        <span class="pibfi_pinterest ">
          <img class="size-full wp-image-12732 aligncenter"
            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20440%20880'%3E%3C/svg%3E"
            alt="" width="440" height="880"
            data-lazy-srcset="https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN.jpg 440w, https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN-150x300.jpg 150w"
            data-lazy-sizes="(max-width: 440px) 100vw, 440px"
            data-lazy-src="https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN.jpg" />
          <noscript>
            <img class="size-full wp-image-12732 aligncenter"
              src="https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN.jpg"
              alt="" width="440" height="880"
              srcset="https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN.jpg 440w, https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN-150x300.jpg 150w"
              sizes="(max-width: 440px) 100vw, 440px" />
          </noscript>
          <span class="xc_pin"
            onclick="pin_this(event, 'http://pinterest.com/pin/create/button/?url=https://www.bordersofadventure.com/travel-resources/&amp;media=https://www.bordersofadventure.com/wp-content/uploads/2012/07/OO_infographic_BestTimetoBook_EN.jpg&amp;description=Travel Resources')"></span>
        </span>
      </p>
      <h2 style="text-align: center;">&nbsp;</h2>
      <h2 style="text-align: center;">Travel Resources for Finding Cheap Rail Tickets</h2>
      <h3>
        <a href="https://www.goeuro.co.uk/" target="_blank" rel="noopener noreferrer">GoEuro</a>
      </h3>
      <p>The great thing about GoEuro is that you can plan your trip across multiple transport platforms (flights,
        trains and buses) in Europe. For example, following some time in Germany, I wanted to source the quickest and
        cheapest way to get to Istanbul. A quick search on Go Euro told me to get a train from Dresden (where I was) to
        Berlin and to take a flight from Berlin to Istanbul. This handy Europe travel resource saves you a LOT of time,
        working out the best overall route, listing cheapest to most expensive and shortest and longest route options.
      </p>
      <h3>
        <a href="https://www.seat61.com/" target="_blank" rel="noopener noreferrer">Seat 61</a>
      </h3>
      <p>The ultimate train bible, this site has saved me on many occasions, especially in Asia, where language barriers
        have made finding out about train times and ticket bookings slightly difficult. The Man In Seat 61 details
        trains times for almost everywhere and includes ferry timings and other useful transit information.</p>
      <p>
        For further tips on Europe Travel check out my&nbsp;
        <a href="https://www.bordersofadventure.com/handy-tips-travelling-europe-train/" rel="noopener">Handy Tips For
          Travelling Through Europe By Train</a>
      </p>
      <h3>
        <a href="https://www.networkrail.co.uk/" target="_blank" rel="noopener noreferrer">Network Rail</a>
        &amp; The
        <a href="https://www.thetrainline.com/" target="_blank" rel="noopener noreferrer">Trainline</a>
      </h3>
      <p>I use Network Rail mainly for the timetables since it lists all routes and timings for all the trains across
        the UK. I then revert to the Trainline make a booking since it lists advance ticket discounts and money saved on
        choosing alternative times.</p>
      <h2 style="text-align: center;">Travel Resources for Round The World Trip Planning</h2>
      <h3>
        <a href="https://www.statravel.com/" target="_blank" rel="noopener noreferrer">STA Travel</a>
      </h3>
      <p>I used STA to help with my initial travel plans before I left home two years ago. They are mainly known for
        securing you a great deal on Round the World flights with a set number of stops. However, they also have regular
        flight sales, have partnerships with tour companies, offer travel insurance and some stores now also have a
        travel vaccination unit. A one-stop shop travel-resource for almost everything you need.</p>
      <h3>
        <a href="https://www.roundtheworldexperts.co.uk/" target="_blank" rel="noopener noreferrer">Round the World
          Experts</a>
      </h3>
      <p>Similar to STA, RTW Experts also offer travel planning, advice and booking services. They are a part of the
        Flight Centre, so a widely connected resource with outlets worldwide.</p>
      <p>* Both STA and RTW Experts have agents you can contact online. Normally, following a request, an agent will be
        assigned to you.</p>
      <h2 style="text-align: center;">Travel Resources for Finding Comprehensive Travel Insurance</h2>
      <h3>
        <a href="https://www.worldnomads.com/Turnstile/AffiliateLink?partnerCode=8p8c&amp;source=&amp;path=https://www.worldnomads.com/travel-insurance&amp;utm_source=8p8c&amp;utm_content=link"
          target="_blank" rel="nofollow noopener noreferrer">World Nomads</a>
      </h3>
      <p>
        This insurance provider is one of the best out there, but known for ultra convenience and peace of mind – you
        can purchase or extend your policy at any time, anywhere in the world, which means not having to return to your
        home country to set up a new policy should you decide to extend your travels.&nbsp;
        <a href="https://www.worldnomads.com/Turnstile/AffiliateLink?partnerCode=8p8c&amp;source=&amp;path=https://www.worldnomads.com/travel-insurance&amp;utm_source=8p8c&amp;utm_content=link"
          rel="nofollow">Get a Quote</a>
      </p>
      <h3>
        <a href="https://www.safetywing.com/a/24746093" target="_blank" rel="noopener noreferrer">Safety Wing</a>
        &nbsp;
      </h3>
      <p>Safety Wing is new to the travel insurance market and aims to build a global social welfare safety net.
        Alongside travel coverage, it also focuses on extensive medical travel insurance – a great option for those
        looking to work abroad or be in one place outside their home country for a period of time. Safety Wing&#8217;s
        other unique positioning is that it is made specifically for remote workers and digital nomads, where you
        don&#8217;t have to be on home turf to book your policy. Coverage policies are sold as 28-day auto-renewable
        subscriptions, with the option to cancel or pause at any time.</p>
      <h3>
        <a href="https://www.covermore.co.uk/" target="_blank" rel="noopener noreferrer">Covermore</a>
      </h3>
      <p>This was my main insurance provider and the only one in the UK who agreed to renew my policy after one year
        while on the road – I can extend while outside of the UK for a further six months. After that, I couldn&#8217;t.
        I find Covermore to be comprehensive on all things including personal items and electrical goods, as well as
        covering a huge list of adventure activities without a hideous excess charge. At the time, I booked through
        Round the World Experts, who managed my policy extensions while on the road.&nbsp;</p>
      <h2 style="text-align: center;">Travel Resources to Help With Buying Travel Gear / Travel Packing</h2>
      <p>
        I’m often asked about what I pack for long trips, my top recommendations for equipment and my favourite and
        trusted travel brands. Being on the road for so long has meant testing out many items to find my top picks and
        knowing exactly what to pack.&nbsp;For an extensive overview of my recommended travel gear, please head over to
        the&nbsp;
        <a href="https://www.bordersofadventure.com/travel-shop/" rel="noopener">Borders of Adventure Travel Gear
          page</a>
        .&nbsp;
      </p>
      <h2 style="text-align: center;">Travel Resources for&nbsp;Finding Pre-Paid Cash Travel Cards</h2>
      <p>
        <a href="https://www.caxtonfx.com/" target="_blank" rel="noopener noreferrer">I now use the&nbsp;Caxton FX</a>
        &nbsp;which I&#8217;ve found is a lot easier to use, has an instant cash load function, allows you to switch
        currency balances easily and has an easier online user face. It remains a popular choice among travellers.
      </p>
      <p>
        I first used the
        <a href="https://www.travelex.co.uk/services/cash-passport/globe-cash-passport" target="_blank"
          rel="noopener noreferrer">Travelex Globe Cash Passport</a>
        prepaid cash card as the rates were once lower, loading money onto it straight from my bank account. It’s a more
        secure way of withdrawing money abroad and you are only charged a flat usage fee on purchases, which is much
        better&nbsp;value than traditional Credit and Debit cards.
      </p>
      <p>
        You can read my full comparison of pre-paid cash cards here, detailing fee breakdowns, pros and cons:
        <a href="https://www.bordersofadventure.com/choosing-the-right-prepaid-cash-card-for-travel-backpacker-becki/">Choosing
          the Right Prepaid Cash Card For Travel</a>
      </p>
      <h3>
        <a href="https://www.moneysupermarket.com/" target="_blank" rel="noopener noreferrer">Money Supermarket</a>
      </h3>
      <p>Easy to navigate and use, I use this website for all manner of quick comparisons, from the best savings
        accounts and credit cards to comparing the best travel insurance deals. Ideal for setting up a savings account
        pre-travelling and being prepared financially when you are on the roads.</p>
      <h2 style="text-align: center;">Travel Tips and Inspiration</h2>
      <p>Below are some travel resources I have written, or which I recommend, to help with saving, pre-planning and
        independent travel:</p>
      <h3 style="text-align: left;">Travel and Money</h3>
      <ul>
        <li>
          <a href="https://www.bordersofadventure.com/how-to-financially-plan-a-rtw-trip/" rel="noopener">How to
            Financially Plan a Round The World Trip</a>
        </li>
        <li>
          <a href="https://www.bordersofadventure.com/australia-working-holiday-taxes-last-thing-mind/"
            rel="nofollow noopener">Australian Working Holiday &#8211; Filing Taxes and Getting Cash Back</a>
        </li>
      </ul>
      <h3>Travel and Transport</h3>
      <ul>
        <li>
          <a href="https://www.bordersofadventure.com/handy-tips-travelling-europe-train/" target="_blank"
            rel="noopener noreferrer">Handy Tips For Travelling Through Europe By Train</a>
        </li>
        <li>
          <a href="https://www.bordersofadventure.com/travel-spain-by-train-ave-guide/" target="_blank"
            rel="noopener noreferrer">Travel in Spain by Train – An AVE Guide</a>
        </li>
      </ul>
      <h3>Travel Advice &amp; Top Tips</h3>
      <ul>
        <li>
          The all-important conversation you might have to encounter.
          <ul>
            <li>
              <a href="https://www.bordersofadventure.com/how-to-tell-parents-going-travelling/" rel="noopener">How to
                Tell Your Parents You Are Going Travelling</a>
            </li>
          </ul>
        </li>
        <li>
          Prolonging travel because you think you can&#8217;t?
          <ul>
            <li>
              <a href="https://www.bordersofadventure.com/top-five-excuses-why-you-cant-go-travelling-how-to-overcome-them/"
                rel="noopener">Five Excuses Not to Go Travelling &amp; How to Overcome Them</a>
            </li>
          </ul>
        </li>
        <li>
          Planning a solo female travel trip can be overwhelming and these tips will help
          <ul>
            <li>
              <a href="http://www.hostelworld.com/blog/5-things-a-solo-female-traveller-needs-to-do-before-leaving-for-round-the-world-travel/156963"
                target="_blank" rel="noopener noreferrer">Five Things a Solo Female Traveller Needs To Do Before Leaving
                for a Round The World Trip</a>
            </li>
          </ul>
        </li>
        <li>
          Travel Insurance can be a wordy minefield, so how does it work in extreme circumstances?
          <ul>
            <li>
              <a href="https://www.insurancewith.com/travelling-with-a-medical-condition/" target="_blank"
                rel="nofollow noopener noreferrer">Travel Insurance &amp; Medical Conditions &#8211; A Guide</a>
            </li>
            <li>
              <a href="https://www.comparetravelinsurance.com.au/resources/natural-disasters-guide" target="_blank"
                rel="noopener noreferrer">Travel Insurance &amp; Natural Disasters &#8211; A Guide</a>
            </li>
          </ul>
        </li>
        <li>
          Want to challenge yourself to pack carry-on only or learn how to lighten the luggage load?
          <ul>
            <li>
              <a href="https://life-with-less.com/minimalist-packing-travel-tips/" target="_blank"
                rel="noopener noreferrer">How to Pack Light – Minimalist Packing Tips</a>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        <em>Some of the travel resources listed here contain affiliate links &#8211; should you purchase anything from
          the particular site, it is of no extra cost to you.</em>
      </p>
    </div>




    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Blog and resources</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="card">
              <div class="h-entry">
                <a href="blog.html">
                  <img src="images/workplace.jpeg" alt="Image" class="img-fluid">
                </a>
                <h2 class="font-size-regular"><a href="#">The wage gap is real - gender sensitive workplaces</a></h2>
                <div class="meta mb-4">anonAuthor<span class="mx-2">&bullet;</span> Jun 2020<span
                    class="mx-2">&bullet;</span> <a href="#">Work</a></div>
                <p>Gender Wage Gap is defined as the difference between the median earnings of men and women. It
                  matters! -
                  According to the Gender Gap Index in 2020, India has slipped to the 112th position from the previous
                  108th in 2018</p>
                <p><a href="/blog">Continue Reading...</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="h-entry">
                <a href="/blog">
                  <img src="images/pcos2.jpg" alt="Image" class="img-fluid">
                </a>
                <h2 class="font-size-regular"><a href="#">Understanding PCOS - why a taboo?</a></h2>
                <div class="meta mb-4">anonAuthor <span class="mx-2">&bullet;</span> Jul 2020<span
                    class="mx-2">&bullet;</span> <a href="#">Health</a></div>
                <p>Why a severe health condition that affects a big percentage of women in the country largely goes
                  underrepresented - hush hush discussions! </p>
                <p><a href="/blog">Continue Reading...</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="h-entry">
                <a href="/blog">
                  <img src="images/redflag.jpeg" alt="Image" class="img-fluid">
                </a>
                <h2 class="font-size-regular"><a href="#">Pointers of gaslighting and emotional abuse</a></h2>
                <div class="meta mb-4">anonAuthor <span class="mx-2">&bullet;</span> May 2020<span
                    class="mx-2">&bullet;</span> <a href="#">Relationsip and Lifestyle</a></div>
                <p>Trigger Warning : Abuse, violence. Understanding the red flags and implicit manipulation in
                  conversation - are you in a toxic relationship?</p>
                <p><a href="/blog">Continue Reading...</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>




    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contact Us</h2>
          </div>
        </div>
        <div class="row mb-5">



          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h4 text-primary"></span>
              <span>NIT Silchar, Silchar, Assam</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h4 text-primary"></span>
              <a href="#">+91 9876543210</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h4 text-primary"></span>
              <a href="#">swaraksha.sahayak@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">





          </div> <!-- .site-wrap -->

          <script src="js/jquery-3.3.1.min.js"></script>
          <script src="js/jquery-ui.js"></script>
          <script src="js/popper.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/owl.carousel.min.js"></script>
          <script src="js/jquery.countdown.min.js"></script>
          <script src="js/jquery.easing.1.3.js"></script>
          <script src="js/aos.js"></script>
          <script src="js/jquery.fancybox.min.js"></script>
          <script src="js/jquery.sticky.js"></script>
          <script src="js/isotope.pkgd.min.js"></script>


          <script src="js/main.js"></script>

</body>

</html>