


<!doctype html>
<html lang="en">
  <head>
    <title>Swaraksha Sahayak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style-2.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">


        <div class="container">
            <div class="row align-items-center">
              
              <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="/" class="h2 mb-0"><font size =2.7>SWARAKSHA SAHAYAK</font><span class="text-primary"></span> </a></h1>
              </div>
    
              <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
    
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/" class="nav-link">About Us</a></li>
                  <li class="has-children">
                    <a href="#features-section" class="nav-link">Features</a>
                    <ul class="dropdown">
                      <li><a href="/chat/home" class="nav-link">Chat</a></li>
                      <li><a href="/forum" class="nav-link">Forum</a></li>
                      <li><a href="/doctors" class="nav-link">Doctor Review</a></li>
                   
                    </ul>
                  </li>
                  <li><a href="/blog" class="nav-link">Blog</a></li>
                  <li><a href="/login" class="nav-link">Login</a></li>
                </ul>
              </nav>
            </div>
    
    
    
    
              <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
    
            </div>
          </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url(images/work.png);" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="text-align: center">
            <div class="col-md-6 mt-lg-5 text-center" style="display: inline-block">
                <h1>Welcome to progressive workplaces </h1>
                
              </div>
              <!-- <div data-aos="fade-up" data-aos-delay="100">
                <a href="/workrating" class="btn smoothscroll btn-primary mr-2 mb-2">Take me to RateYourWorkplace! </a>
                </div> -->
            
        </div>
      </div>
    </div>  

    
    <div id="search" class="jumbotron text-center " style="text-align: center;">
        <div class="hero-container" style="display: inline-block;">





          <h1> FIND YOUR WORKPLACE</h1>
                  <form action="/workplaces/search" method="GET" class="form-inline">
                 
                      <div class="form-group searchbar">
                          <input type="text" name="search"  placeholder="  Search . . . " class="form-control">                   
                          <input type="submit" value="searchby" placeholder="  Search . . . " class="btn btn-primary">
                          <br>
                        
                    </div>
                  </form>
                  <br><br>
              <a href="/workplaces/search?search=&searchby=workplaces" class="btn btn-primary"> View All Workplaces </a>
    </div> </div>

    
    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
            <div class="row mb-5">
             
            </div>
            <p class="lead"><h1>Progressive Workplaces : What are they? </h1>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">&#x201C;</span>
                    <em style="color: black;">A woman&#x2019;s first responsibility is to her home and family</em>
                    <span style="color: black;">&#x201D;. </span>
                    <em style="color: black;">&#x201C;So what else do you expect? The husband to stay back and take care of the baby?&#x201D; </em>
                    <span style="color: black;">These are some of the remarks and questions that most Indians take for granted in discussions centred around the Indian woman&#x2019;s role in society. </span>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: black;">This, despite the fact that we&#x2019;re now in the 21</span>
                    <sup style="color: black;">st</sup>
                    <span style="color: black;"> century, or that women all over the world are breaking new ground in every arena of life and work. As a matter of fact, every few months, the dismal status of women&#x2019;s participation in the Indian workforce makes headlines, only to be quickly swamped by the flurry of other news and information available in the market today.&#xA0;</span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">Still, even though the 2017 India Development Report from the World Bank ranks India a shocking 120th out of 131 countries in the world on female labour-force participation, across the world too, </span>
                    <strong style="color: rgb(34, 34, 34);">the share of women in the formal workforce, especially in senior positions, has continued to remain low. </strong>
                    <span style="color: rgb(34, 34, 34);">Out of 1,500 large public companies listed across 27 countries </span>
                    <a href="https://qz.com/work/1275021/gender-equality-in-the-workplace-the-depressing-data-on-1500-companies-worldwide/" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: rgb(34, 34, 34);">analysed by Quartz</a>
                    <span style="color: rgb(34, 34, 34);">, 95 percent of companies are led by a significantly male-dominated management, with this phenomenon particularly evident across management levels at Asian companies. </span>
                    <span style="color: black;">In India, women account for approximately 17 percent of senior management.</span>
                </p>
                <div>
                    <div class="image-wrapper-medium">
                        <img class="embedd-wrapper lazyimg" alt src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/woman_workforce_graph_51539064098158.png?fm=png&amp;auto=format&amp;blur=500" type="medium" data-src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/woman_workforce_graph_51539064098158.png?fm=png&amp;auto=format">
                        <hr class="image-divider">
                        <span class="caption-wrapper"></span>
                    </div>
                </div>
                <p>
                    <em>Source: Quartz; Data: Gender Diversity Exchange</em>
                </p>
                <h2 class="ql-align-justify">
                    <strong style="color: #007bff;">Social justice or business case?</strong>
                </h2>
                <p class="ql-align-justify">
                    <strong>Gender parity has long been touted a feminist agenda with social justice an end in itself. However, more recently, the business case for gender diversity is gaining some prominence.</strong>
                </p>
                <div class="in-article-ad">
                    <div id="in-article-ad-2-11856"></div>
                </div>
                <p class="ql-align-justify">
                    <span style="color: black;">The 2017 World Bank report goes on to make the macroeconomic case for increasing the number of working women in India by showing that an increase in the participation rate from the current 27 percent to 50 percent could boost India&#x2019;s overall growth rate by 1.5 percent. </span>
                    <a href="https://www.mckinsey.com/~/media/McKinsey/Featured%20Insights/Gender%20Equality/The%20power%20of%20parity%20Advancing%20womens%20equality%20in%20India%202018/India%20power%20of%20parity%20report.ashx" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">McKinsey Global Institute</a>
                    <span style="color: black;"> has done further research to show that in India, women&#x2019;s contribution to the GDP stands at just 18 percent, far behind China, where women contribute to 41 percent of the total GDP. Only Pakistan, where women contribute just 11 percent to the GDP, is behind India. If McKinsey&#x2019;s estimates are accurate, India can add a mind-boggling $770 billion to its GDP annually simply by achieving gender parity in the workforce. No wonder then that the &#x201C;</span>
                    <a href="https://www.ges2017.org/" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Women First, Prosperity for All</a>
                    <span style="color: black;">&#x201D; </span>
                    <span style="color: rgb(0, 0, 0);">theme </span>
                    <span style="color: black;">
                        dominated the proceedings of the Global Entrepreneurship Summit 2017.
                        <span class="ql-cursor">&#xFEFF;</span>
                    </span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">Research at an organisation level has so far been restricted to the developed economies and mostly at the senior management or board level. </strong>
                    <span style="color: black;">A </span>
                    <a href="https://www.catalyst.org/knowledge/bottom-line-connecting-corporate-performance-and-gender-diversity" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Catalyst study in 2017</a>
                    <span style="color: black;"> found that companies with the highest number of women in the top management perform better, both in terms of Return on Equity (ROE), which is 35 percent higher, and Total Return to Shareholders (TRS), which is 34 percent higher. Another study by Catalyst found that across five industries, companies with the most number of women board directors outperform those with the least, based on a </span>
                    <a href="https://www.catalyst.org/knowledge/bottom-line-corporate-performance-and-womens-representation-boards-20042008" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">26 percent increase in ROIC</a>
                    <span style="color: black;">. Similarly, a 2014 </span>
                    <a href="https://www.gallup.com/workplace/236543/business-benefits-gender-diversity.aspx" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Gallup study</a>
                    <span style="color: black;"> of more than 800 business units from two </span>
                    <span style="color: rgb(34, 34, 34);">companies representing two different industries -- retail and hospitality -- showed that gender-diverse business units had 14 percent higher average comparable revenue than those dominated by one gender.</span>
                </p>
                <div id="newsletter-11856"></div>
                <p class="ql-align-justify">
                    <strong style="color: rgb(34, 34, 34);">In India, there has been limited research and data surrounding the business case for diversity. However, Sattva&#x2019;s work in the field of employability and gender in India has brought to light several significant anecdotal evidence. </strong>
                    <span style="color: rgb(34, 34, 34);">For example, in the case of customer experience roles, employers see tangible benefits in hiring women. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <em style="color: rgb(34, 34, 34);">&#x201C;50 percent of our consumer base is women. Women understand women best. And by having more women in our workforce, we are able to cater to a large consumer segment more effectively,&#x201D; </em>
                    <span style="color: rgb(34, 34, 34);">was a sentiment echoed by HR across industries such as retail, hospitality and wellness during a customer experience roundtable held by </span>
                    <a href="http://www.sattva.co.in/casestudy/women-in-the-workforce-selecther/" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: rgb(34, 34, 34);">Sattva</a>
                    <span style="color: rgb(34, 34, 34);">. </span>
                    <em style="color: rgb(34, 34, 34);">&#x201C;Women and men both love buying from and engaging with women. They are more empathetic to the customer need, more patient and pleasing. The business case for us is very clear.&#x201D; </em>
                    <span style="color: rgb(34, 34, 34);">&#xA0;Similar strong evidence has been pointed out in other studies when it comes to </span>
                    <a href="https://www.avtariwin.com/asset/uploads/researchreport/2017_VIEWPORT_-_Women_in_Sales.pdf" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: rgb(34, 34, 34);">women in sales</a>
                    <span style="color: rgb(34, 34, 34);">. </span>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: rgb(34, 34, 34);">In general, diversity and inclusion experts (not specific to gender diversity alone) have been making an increasingly convincing case with </span>
                    <a href="https://www.huffingtonpost.com/entry/the-business-case-for-gender-diversity-update-2017_us_590658cbe4b05279d4edbd4b" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: rgb(34, 34, 34);">respect to hard business metrics</a>
                    <span style="color: rgb(34, 34, 34);"> such as revenue, profitability, productivity, customer satisfaction and retention, as well as with other critical parameters such as the quality of innovation, creativity and better decision-making, which are more intangible benefits.</span>
                </p>
                <h2 class="ql-align-justify">
                    <strong style="color: #007bff;">Unpacking the profile of women in the workforce</strong>
                </h2>
                <p class="ql-align-justify">
                    <strong style="color: black;">One of the most interesting observations about the participation of Indian women in the workforce has been the almost inverse relationship of female workforce participation with economic well-being,</strong>
                    <span style="color: black;"> i.e., women tend to </span>
                    <em style="color: black;">drop off </em>
                    <span style="color: black;">from the workforce as the household economic situation improves. While India has made steady progress from 1990 to today on the economic front, women participation in the workforce has worsened from 34 percent to the </span>
                    <a href="https://www.ilo.org/wcmsp5/groups/public/---asia/---ro-bangkok/---sro-new_delhi/documents/genericdocument/wcms_342357.pdf" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">current 27 percent</a>
                    <span style="color: black;">. </span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">The graph below shows the sectors with the highest participation of women. Besides agriculture, manufacturing, especially food and textile manufacturing, appear to attract the highest number of women, as do education and retail sectors within the services industries. This is likely because these sectors &#x2013; food, clothing, education, and services or front-desk &#x2013; are also the fields that have traditionally been more aligned to society&#x2019;s expectations of women.</span>
                </p>
                <div class="in-article-ad">
                    <div id="in-article-ad-4-11856"></div>
                </div>
                <div>
                    <div class="image-wrapper-medium">
                        <img class="embedd-wrapper lazyimg" alt src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/graph_1-1001539061324462.jpg?fm=png&amp;auto=format&amp;blur=500" type="medium" data-src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/graph_1-1001539061324462.jpg?fm=png&amp;auto=format">
                        <hr class="image-divider">
                        <span class="caption-wrapper"></span>
                    </div>
                </div>
                <p class="ql-align-justify">
                    <strong style="color: black;">As per the last census, rural women workforce participation is higher across age groups versus urban women. There is also a clear caste difference with a higher participation of SC and ST women versus other forward castes, which could possibly mean most women work out of economic necessity.</strong>
                </p>
                <p class="ql-align-justify">
                    <a href="https://www.hks.harvard.edu/sites/default/files/centers/cid/files/publications/faculty-working-papers/women_work_india_cidwp339.pdf" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Rohini Pande et al</a>
                    <span style="color: black;">, in their 2017 paper &#x201C;Women and Work in India: Descriptive Evidence and a Review of Potential Policies,&#x201D; also point out that married women are more likely not to work, irrespective of whether or not they have children. Presumably, single women without children have the social freedom to work, while single women with children have an economic necessity to do so, even as married women have more responsibilities inside the house as well as different societal norms to follow.</span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">The Rohini Pande paper provides another interesting insight, in that, despite the barriers and the current social paradigm, women are still interested in having a &#x201C;regular&#x201D; job, rather than some occasional work. </strong>
                    <span style="color: black;">Yet, there is a definite preference for a steady and predictable part-time work versus regular full-time work as shown in the figure below. </span>
                </p>
                <div>
                    <div class="image-wrapper-medium">
                        <img class="embedd-wrapper lazyimg" alt src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_3-1001539061324470.jpg?fm=png&amp;auto=format&amp;blur=500" type="medium" data-src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_3-1001539061324470.jpg?fm=png&amp;auto=format">
                        <hr class="image-divider">
                        <span class="caption-wrapper"></span>
                    </div>
                </div>
                <p class="ql-align-justify">
                    <br>
                </p>
                <h2>
                    <strong style="color: #007bff;">What are the barriers for women in India to work?</strong>
                </h2>
                <p class="ql-align-justify">
                    <span style="color: black;">Through Sattva&#x2019;s multiple skilling and livelihood programmes aimed at women, one of which was aimed at creating opportunities for underprivileged women to work in high-end retail firms, it became increasingly evident that </span>
                    <strong style="color: black;">
                        the lack of skills is 
                        <em>only one</em>
                         of the many barriers Indian women face in joining the workforce
                    </strong>
                    <span style="color: black;">. The programme, which focused on building the skills of 12th pass and graduate women in retail sales, saw a number of success stories of women getting access to decent jobs with high-end brands and continuing to grow in their careers. However, it became clear very soon that </span>
                    <strong style="color: black;">bringing women into the workforce is a complex, multi-dimensional problem</strong>
                    <span style="color: black;">, and the following section captures some of our learnings from the programme.</span>
                </p>
                <div class="in-article-ad">
                    <div id="in-article-ad-5-11856"></div>
                </div>
                <h3 class="ql-align-justify">
                    <span style="color: black;">1.&#xA0;&#xA0;&#xA0;&#xA0;</span>
                    <strong style="color: black;">Lack of agency in making career decisions</strong>
                    <span style="color: black;"></span>
                </h3>
                <p>Much has been written about the patriarchal culture of India, which is evident across most communities. For unmarried young girls, parents are still the decision-makers when it comes to education or employment, and most parents continue to view it their primary duty to get their daughter &#x201C;married off&#x201D;, with employment, in general, and sales-related roles, in particular, only serving to complicate marriage prospects. </p>
                 <p>
                    <strong>For many women, crossing the hurdle of going against the family is just too much trouble.</strong>
                </p>
                <h3>
                    <span style="color: black;">2.&#xA0;&#xA0;&#xA0;&#xA0;</span>
                    <strong style="color: black;">Lack of sufficient role models amongst women a deterrent </strong>
                </h3>
                <p>
                    <span style="color: black;">While it&#x2019;s a well-known fact that the large majority of Indian women are not the primary decision makers in the family, it&#x2019;s a lesser known fact that many of them do not view working as something aspirational nor of holding any personal significance. The primary reason for this is a lack of relevant role models for women, no matter what their background. </span>
                </p>
                <blockquote>
                    <span style="color: black;">The few well-known successful women seem too far away from their reality to serve as effective role models. Often, this lack of aspiration is dismissed as &#x201C;but women don&#x2019;t </span>
                    <em style="color: black;">want</em>
                    <span style="color: black;"> to work&#x201D; and justified as a choice women make independently. However, more often than not, women are conditioned to think in ways that are aligned with the prevalent norms. </span>
                </blockquote>
                <p>
                    <span style="color: black;">To tackle this problem early on, many non-profit organisations such as Voice4Girls, Antarang Foundation, and DreamADream, amongst others, are giving young girls the opportunity to dream big by showing the benefits of agency and choice at an early age. However, </span>
                    <strong style="color: black;">this lack of aspiration and early thought conditioning towards working outside the home, especially in male-dominated fields, remains one of the biggest roadblocks in improving the participation of women in the workforce.</strong>
                </p>
                <div class="in-article-ad">
                    <div id="in-article-ad-6-11856"></div>
                </div>
                <h3 class="ql-align-justify">
                    3.&#xA0;&#xA0;&#xA0;&#xA0;
                    <strong style="color: black;">Lack of support systems</strong>
                    <span style="color: black;"></span>
                </h3>
                <p class="ql-align-justify">
                    <span style="color: black;">Unsurprisingly, the lack of suitable support systems such as child-care or elder-care is one of the biggest barriers for women to work. </span>
                    <strong style="color: black;">By design, our work systems are not built to provide the flexibility that is critical for a woman, especially during certain life-stages, and working part-time often translates to stagnancy and low growth opportunities.</strong>
                    <span style="color: black;"> Interestingly, families become more supportive of women working post-marriage and after having children, as it becomes an economic imperative at this point to have a second income for the household. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">However, in the non-agricultural sector, apart from jobs such as teaching, home-tuitions, and some factory jobs, it is not very easy for a woman to take up a regular, full-time job outside the house, given that the majority of the household and childcare responsibilities fall on the woman. </span>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: black;">As per a UN report, Indian women do more than 300 minutes a day of unpaid work compared to men. The silver lining in this is that come January 2019, the National Sample Survey Office (NSSO) will measure domestic work to better understand how women contribute to the nation&#x2019;s economy. Secondly, the Maternity Benefit (Amendment) Act, 2017, brought about a number of beneficial changes, including 26 weeks of paid maternity leave and mandatory cr&#xE8;che facilities in establishments employing more than 50 employees. Implementation of the Act remains to be seen.</span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">Women do more unpaid work than men, minutes per day</strong>
                </p>
                <div>
                    <div class="image-wrapper-medium">
                        <img class="embedd-wrapper lazyimg" alt src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_4-1001539070102859.jpg?fm=png&amp;auto=format&amp;blur=500" type="medium" data-src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_4-1001539070102859.jpg?fm=png&amp;auto=format">
                        <hr class="image-divider">
                        <span class="caption-wrapper"></span>
                    </div>
                </div>
                <p class="ql-align-justify">
                    <em style="color: black;">Source: UN Report (Why unpaid female labour matters: How to use Time Use Studies to evaluate it?)</em>
                </p>
                <h3 class="ql-align-justify">
                    <strong style="color: black;">4.&#xA0;&#xA0;&#xA0;&#xA0;Lack of women-friendly employer policies</strong>
                </h3>
                <p class="ql-align-justify">
                    <span style="color: black;">In our experience, we found that women tend to be enthusiastic about skilling courses in retail, but many tended not to take up these jobs once the time came for them to join the workforce. </span>
                </p>
                <div class="in-article-ad">
                    <div id="in-article-ad-7-11856"></div>
                </div>
                <p class="ql-align-justify">
                    <span style="color: black;">This is usually due to three main reasons: </span>
                </p>
                <ol>
                    <li class="ql-align-justify">
                        <span style="color: black;">distance of the workplace and time taken to travel from home </span>
                    </li>
                    <li class="ql-align-justify">
                        <span style="color: black;">long working hours and unfavourable shift timings, and </span>
                    </li>
                    <li class="ql-align-justify">
                        <span style="color: black;">issues of workplace harassment and implicit bias and attitudes towards women. </span>
                    </li>
                </ol>
                <p class="ql-align-justify">
                    <strong style="color: black;">It is no surprise then, that there are not enough women in most job roles as organisations are not trying hard enough to make them work for women.</strong>
                    <span style="color: black;"></span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">In our programme, we also found that sexual harassment laws were often not explained clearly to women employees, and franchisee stores were not monitored regularly on their implementation of harassment policies. One of our students* was abused verbally with sexual innuendos by her immediate superior, which caused her to abstain from work for extended periods of time without providing any reason for her absence. Being the primary earner in the family, she was afraid to make this an issue, fearing the loss of her job. She confided in the programme managers and the issues were resolved with the HR and the franchisee owner in a tactful manner. </span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">However, not all women are lucky enough to have someone mediate on their behalf. So, even as a number of employers are today investing in diversity consulting, with surveys such as &#x201C;</span>
                    <a href="https://www.avtariwin.com/best-companies/winners2018" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Best Companies for Women in India</a>
                    <span style="color: black;">&#x201D; finally providing data around this subject, it must be noted that these </span>
                    <strong style="color: black;">investments in inclusive policies and systems are largely restricted to large, formal sector employers. </strong>
                </p>
                <h3 class="ql-align-justify">
                    <strong style="color: black;">5.&#xA0;&#xA0;&#xA0;&#xA0;Lack of employable skills</strong>
                    <span style="color: black;"></span>
                </h3>
                <p class="ql-align-justify">
                    <span style="color: black;">Many Indian women, especially from marginalised communities, are married off at an early age, soon after they complete their schooling or graduation. Many of these women aspire to re-enter or join the workforce after they have their own families or their children have joined school. </span>
                    <strong style="color: black;">For this segment, there is a notable gap in employable skills due to the long break in their careers or from never having worked in the first place.</strong>
                    <span style="color: black;"></span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">One of the candidates from our retail programme Jayanthi,* who is now the mother of two children, was working in retail sales until her first child was born. When she came into the programme, Jayanthi was an under-confident woman, without any active networks and was completely disconnected from work expectations in retail roles. The course, with the intensive mentoring provided by the trainers, helped fuel Jayanthi&#x2019;s aspirations, &#xA0;prompting her to seize the opportunity to work and land a job at a leading QSR brand. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">Accessible platforms for skill development, which enable entry/re-entry into the workforce, combined with counselling and mentoring programmes, become critical for women like Jayanthi looking for avenues to bridge the gap in their employability.&#xA0;</span>
                </blockquote>
                <div>
                    <div class="image-wrapper-medium">
                        <img class="embedd-wrapper lazyimg" alt src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_2-1001539061722833.jpg?fm=png&amp;auto=format&amp;blur=500" type="medium" data-src="https://images.yourstory.com/cs/3/fd6b2ee0-c6f4-11e8-af1c-974e95f3b2db/Graph_2-1001539061722833.jpg?fm=png&amp;auto=format">
                        <hr class="image-divider">
                        <span class="caption-wrapper"></span>
                    </div>
                </div>
                <h2 class="ql-align-justify">
                    <strong style="color:  #007bff;">Workplace diversity: cost or investment? </strong>
                </h2>
                <p class="ql-align-justify">
                    <strong style="color: black;">For most employers, focusing on diversity in the workplace immediately signals the need for upfront investments in terms of policies and support services, in addition to training.</strong>
                    <span style="color: black;"> To cite an example, there is an organisation that trains women to become drivers and they impart driving plus customer engagement skills. While this potentially highlights a large market opportunity, given the number of crimes against women by male cab drivers today, the cost of training women is at least twice that of training men. A little digging told us why. In almost every case, women have multiple responsibilities at home &#x2013; primarily cooking, child-care, and elder-care apart from the dozen other things they have to do. Taking time out to acquire employable skills requires working around these schedules and responsibilities, which typically means fewer hours per day and hence lower trainer utilisation. All of these result in higher cost of training while entering the workforce.</span>
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">As one goes higher up the ladder, an employee would necessarily have larger responsibilities. For example, in fields such as retail and customer service, the store manager is required to stay back beyond the last shift to tally the accounts and the inventory or assume the task of managing more than one branch or one team. This, in turn, forces women to reconsider their choices and, more often than not, resign themselves to quieting their own ambitions to be better able to deliver their household responsibilities and avoid disturbing the family dynamics. </span>
                    <strong style="color: black;">Enabling women to perform these roles would mean providing extra support to handle their responsibilities at home (e.g. childcare beyond regular hours), allowing flexible shifts or providing additional staff support, including additional security during late hours. </strong>
                </p>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">However, it is not just women who need flexibility or other support services in the workplace. Today, in many industries, men are automatically assigned to the later shifts and expected to work longer hours. Flexible and fair policies will enable all employees to be more productive without creating further discrimination or stereotyping against one specific group.</span>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: black;">As such, </span>
                    <strong style="color: black;">employers need to start thinking long term, looking for innovative solutions to provide flexible support systems that are not only beneficial for women, but for all employees within the organisation.</strong>
                    <span style="color: black;"> The benefits of such measures may not be easy to quantify just yet, but there are already several employers who are doing this because it makes business (and social) sense to them.</span>
                </p>
                <h2 class="ql-align-justify">
                    <strong style="color:  #007bff;">The good news: some employers are already showing the way</strong>
                </h2>
                <p class="ql-align-justify">
                    <span style="color: black;">The IT/BPO sector was one of the first in the country which realised the value of tapping into the female workforce. A recent NASSCOM press release states that more than half the IT/BPO firms will have up to 60 percent women in senior levels and 20 percent in the C-Suite soon. They further stated that </span>
                    <strong style="color: black;">&#x201C;</strong>
                    <strong>HR policies such as conveyance, flexi-work, work-from-home, parental leave, anti-harassment, (and) healthcare have led to the positive trend&#x201D;.</strong>
                    <em></em>
                    This development comes on the back of continued growth and profitability of the technology and BPO industry.
                </p>
                <p class="ql-align-justify">
                    <span style="color: black;">While it may be easier to have flexible policies around work in the IT industry, even industries that don&#x2019;t generally take to flexibility are doing their bit to make it easier for women (and men) to work. Take the case of Tata&#x2019;s Starbucks, one of the employers we worked with as part of our retail programme that has an organisational mandate on gender diversity. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">Starbucks has invested in a number of effective interventions for women. These include interactions with family and friends at the workplace, flexible working hours for young mothers, and structured career paths for part-timers. Women are not penalised for part-time work when it comes to promotions and there are a number of successful cases of part-timers becoming shift managers and store managers. </span>
                </blockquote>
                <p class="ql-align-justify">
                    <strong style="color: black;">Within a year of investing in these interventions, Starbucks has seen a significant jump in the number of women on the rolls, helping improve staff retention rates. While it is still a work in progress, there is early and clear evidence to show that stores with higher gender diversity have higher footfalls and revenue as well.</strong>
                </p>
                <p class="ql-align-justify">
                    Take another example. 
                    <span style="color: rgb(34, 34, 34);">Angel Stores are Vodafone retail outlets managed and run entirely by women employees, including security, pantry staff, customer service resources, as well as management level personnel. In terms of the scale of operations, average footfalls or ratio of male and female customers, Angel Stores operates in the same way as any other Vodafone retail outlet. They cater to the product and service needs of all customers and are undifferentiated in all aspects, except that the staff members are all women. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <strong style="color: rgb(34, 34, 34);">Customers of Vodafone&apos;s Angel Stores say the female staff are friendly and patient, allowing them to enjoy an enhanced overall shopping experience. With 34 Angel Stores across 21 circles in the country, </strong>
                    <a href="https://www.vodafone.com/content/dam/vodafone-images/sustainability/downloads/women2017.pdf" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: rgb(34, 34, 34);">
                        <strong>Vodafone&#x2019;s aspiration</strong>
                    </a>
                    <strong style="color: rgb(34, 34, 34);"> is to be the world&#x2019;s best employer for women. </strong>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: black;">As more employers define the new norms of a workplace, especially given the changing nature of work itself, the business case for gender diversity should finally find wider acceptance.</span>
                </p>
                <h2 class="ql-align-justify">
                    <strong style="color:  #007bff;">What would it take to create an equitable workforce? </strong>
                </h2>
                <p class="ql-align-justify">
                    <strong style="color: black;">The first step towards building an equitable workforce is building awareness about job roles and opportunities amongst women and their families.</strong>
                    <span style="color: black;"> This cannot be done without taking into consideration existing cultural practices. However, our experience shows that economics usually trumps culture. Once families realise that the woman of the house can be an active contributor, support typically increases. </span>
                </p>
                <blockquote class="ql-align-justify">
                    <span style="color: black;">But that first step of sensitising parents, spouses, siblings, and the woman herself about the potential of women outside of the boundaries of the house is critical. This point has been well articulated by </span>
                    <a href="http://www.ideasforindia.in/topics/social-identity/getting-indias-women-into-the-workforce-time-for-a-smart-approach.html" rel="noopener nofollow" target="_blank" class="disablePointerEvents" style="color: black;">Rohini Pande</a>
                    ,
                    <span style="color: black;"> who says policy responses could prove critical when the problem is rooted in social and behavioural norms, rather than a lack of resources. </span>
                </blockquote>
                <p class="ql-align-justify">
                    <strong style="color: black;">An interesting recommendation, supported with evidence from the micro-credit sector, is the need to foster women&#x2019;s social networks. </strong>
                    <span style="color: black;">Women are more likely to complete courses, take loans for business purposes and report higher household income and consumption when they bring a friend along. Investing in scalable behavioural change initiatives to break prevailing gender stereotypes at a national scale will call for some bold philanthropy. </span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">Secondly, partnering with forward-thinking employers to demonstrate scalable solutions is equally crucial, something Sattva has been actively working on.</strong>
                    <span style="color: black;"> As seen earlier, customer experience is one field where there is already a strong business case for employing more women. By working with progressive employers in high-growth industries and implementing specific interventions targeted at increasing the number of women, a wider case for employment of women can be established. This would require investment in ecosystem building activities such as research and measurement systems to build the evidence at an organisational level, not just at a macroeconomic one. </span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">Thirdly, investing in women&#x2019;s employability to enter or re-enter the workforce and providing flexible opportunities for women acquire the necessary job-related skills, while keeping the various demands on their time in mind is critical. </strong>
                    <span style="color: black;">In a world where blended learning is fast becoming the norm, women are naturally placed to make the most of this trend. As part of our work, we hope to bring about further innovation in making low-cost, flexible training programmes available for women.</span>
                </p>
                <p class="ql-align-justify">
                    <strong style="color: black;">Finally, the wide gap in Indian women&#x2019;s participation in the workforce only means that there will be a cost associated with bridging this gap.</strong>
                    <span style="color: black;"> While this cost would ultimately need to be borne by the employers and the women (and their families) themselves, in the short term, this would require significant support from the government as well as philanthropic organisations -- both for advocating and creating policy and systems, as well as for implementing them.</span>
                </p>
                <blockquote class="ql-align-justify">
                    <strong style="color: black;">Having said that, we truly believe that these are not &#x201C;costs&#x201D;, but &#x201C;investments&#x201D; in the country&#x2019;s future.</strong>
                    <span style="color: black;"></span>
                </blockquote>
                <p class="ql-align-justify">
                    <span style="color: black;">It is our hope that many other women will no longer have to fight alone nor have to give up on their dreams of being a part of the workforce. It is our hope, too, that they have equal opportunities to live productive and meaningful lives, earning the respect and credit that they are due, both in the workplace and in their communities. Why, you may ask. The answer to this question is simple and aptly summed up in a popular tagline:</span>
                    <strong style="color: black;"> &#x201C;Because they&#x2019;re worth it.&#x201D;</strong>
                </p>
                <br>
                <p style="color:black;">Credits : Women in workforce: What it would take to achieve gender parity in India -YourStory, Joural</p>
        
                
            <!-- <div class="col-md-8 blog-content"> -->
            <h1 > <strong> Websites to check out in detail regarding job openings!</strong> </h1>
<div class="content_container" id="contentBody" style="color:black;">
                                        <!--template bindings={}-->
                                        <div id="fadeMe" itemprop="articleBody" class="article_details">
                                            <p>Whether you are looking for first job, second career, corporate or stay-at-home work opportunities, there are a number of online portals that are making job search easy for the Indian women. We have curated a list of women-only job websites to help you get the right direction to fulfil your professional aspirations.</p>
                                            <p>&nbsp;</p>
                                            <p>
                                                <strong>JobsForHer</strong>
                                            </p>
                                            <p>Want to restart your career after taking a break from career due to marriage, motherhood or any other personal life event? JobsForHer helps women like you and others to rejoin the workforce. The platform provides plenty job opportunities with companies which hire women returnees. You can browse through full-time, part-time, volunteer, freelance and work from home jobs or returnee programs; explore reskilling assessments and courses; get career and resume writing counselling; and network with mentors.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.jobsforher.com" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>
                                                <strong>Her Second Innings</strong>
                                            </p>
                                            <p>This portal helps women return to work with a prime focus on making them financially independent, socially empowered and emotionally strong. You can explore permanent, consultancy, project, temporary, work from home and even business opportunities here. The platform also collaborates with industry experts to mentor its community members and assists them to upskill through training and internship programs.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.hersecondinnings.com" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>
                                                <strong>Naukri for Women</strong>
                                            </p>
                                            <p>One of the most popular job hunting sites in India, Naukri also has an exclusive platform for women. It was launched with the philosophy that women are equipped with special qualities and their workplace requirements differ from men. Other than finding jobs across more than 20 industry domains, you can also get tips and suggestions on career.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.naukriforwomen.com/" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>
                                                <strong>AVTAR I-WIN</strong>
                                            </p>
                                            <p>AVTAR Indian Women Professionals Interface Network (AVTAR I-WIN) is another website aimed to assist women to pursue their career after a break. It offers recruitment service, career counselling and employability skill-building programs among many other resources.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.avtariwin.com" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>
                                                <strong>GharSeNaukri</strong>
                                            </p>
                                            <p>How often you wish for a job that allows you earn from home while fulfilling family obligations? This portal makes it possible for you. From online tuitions and holiday consultancy to banking and graphic designing, it provides you access to work from home jobs with flexibility to work as per your working hours and days.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.gharsenaukri.com" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>
                                                <strong>SHEROES</strong>
                                            </p>
                                            <p>SHEROES is a womens community and career platform. It has an impressive database of job postings across corporate, work from home, freelance, internship, telecommute, franchising and entrepreneurial domains in various categories such as sales, HR, teaching, data entry, etc. If you need any guidance on professional growth, SHEROES connects you with mentors and communities and also offers courses, workshops and other resources.</p>
                                            <p>
                                                For more details, 
                                                <a href="http://www.sheroes.com" rel="nofollow" target="_blank">click here.</a>
                                            </p>
                                            <p>We hope this list gives you a good head start on your career!</p>
                                            </div>
                                        </div>
            
              
              

          </div>
        
        <!-- </div> -->
      </div>
    </section>

  

  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>